### This is a snippet of the table that I am scraping.
![image](table_Screenshot.png)

In [1]:
# Import Libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

### Web Scraping: Extracting Table Rows

In [2]:
# Initialize the WebDriver (SeleniumManager will handle the driver for you)
driver = webdriver.Chrome()

# Navigate to the webpage
url = 'https://ultrasignup.com/results_event.aspx?did=102259'
driver.get(url)

# Allow time for the JavaScript to load
driver.implicitly_wait(10)

# Locate the table by its class name
table = driver.find_element(By.CLASS_NAME, 'ui-jqgrid-btable')

# Extract rows and cells
rows = table.find_elements(By.TAG_NAME, 'tr')

# Store all rows in a list
all_rows = []
for row in rows:
    cells = row.find_elements(By.TAG_NAME, 'td')
    row_data = [cell.text for cell in cells]
    
    # Filter for valid finisher rows
    if row_data and row_data[0] == "results" and row_data[1] != "0":  
        all_rows.append(row_data)
    
# Close the WebDriver
driver.quit() 

# Saved the data to use later
all_rows[:2]

[['results',
  '1',
  'Daniel',
  'Wilson',
  'Tulsa',
  'OK',
  '35',
  'M',
  '1',
  '8:23:01',
  '68.01',
  '',
  '',
  '',
  ''],
 ['results',
  '2',
  'Eric',
  'Davis',
  'Greenwood',
  'IN',
  '38',
  'M',
  '2',
  '8:57:54',
  '92.17',
  '',
  '',
  '',
  ''],
 ['results',
  '3',
  'Stewart',
  'Edwards',
  'New Smyrna Beach',
  'FL',
  '43',
  'M',
  '3',
  '9:24:35',
  '89.34',
  '',
  '',
  '',
  ''],
 ['results',
  '4',
  'Ron',
  'Hammett',
  'Montverde',
  'FL',
  '53',
  'M',
  '4',
  '9:24:36',
  '82.28',
  '',
  '',
  '',
  ''],
 ['results',
  '5',
  'Seth',
  'Cain',
  'Geneva',
  'FL',
  '44',
  'M',
  '5',
  '9:42:17',
  '76.17',
  '',
  '',
  '',
  ''],
 ['results',
  '6',
  'Brad',
  'Fetters',
  'Odessa',
  'FL',
  '39',
  'M',
  '6',
  '9:48:23',
  '73.79',
  '',
  '',
  '',
  ''],
 ['results',
  '7',
  'David',
  'Booher',
  'Goshen',
  'OH',
  '47',
  'M',
  '7',
  '9:52:01',
  '64.88',
  '',
  '',
  '',
  ''],
 ['results',
  '8',
  'Elizabeth',
  'Myers',
  'Sarasota',
  'FL',
  '32',
  'F',
  '1',
  '10:04:42',
  '84.62',
  '',
  '',
  '',
  ''],
 ['results',
  '9',
  'Andrew',
  'Foerster',
  'York',
  'PA',
  '36',
  'M',
  '8',
  '10:07:19',
  '75.76',
  '',
  '',
  '',
  ''],
 ['results',
  '10',
  'Michael',
  'Stone',
  'Delray Beach',
  'FL',
  '44',
  'M',
  '9',
  '10:09:02',
  '81.99',
  '',
  '',
  '',
  ''],
 ['results',
  '11',
  'Heidi',
  'Hinnershitz',
  'Seven Devils',
  'NC',
  '30',
  'F',
  '2',
  '10:14:28',
  '78.15',
  '',
  '',
  '',
  ''],
 ['results',
  '12',
  'Chad',
  'Smith',
  'Middletown',
  'NY',
  '40',
  'M',
  '10',
  '10:17:20',
  '69.79',
  '',
  '',
  '',
  ''],
 ['results',
  '13',
  'Paul',
  'Reynolds',
  'Westbrookville',
  'NY',
  '48',
  'M',
  '11',
  '10:17:27',
  '70.18',
  '',
  '',
  '',
  ''],
 ['results',
  '14',
  'Robb',
  'Young',
  'Marietta',
  'GA',
  '58',
  'M',
  '12',
  '10:31:47',
  '62.75',
  '',
  '',
  '',
  ''],
 ['results',
  '15',
  'Trevor',
  'Foulk',
  "St. John's",
  'FL',
  '46',
  'M',
  '13',
  '10:34:48',
  '76.48',
  '',
  '',
  '',
  ''],
 ['results',
  '16',
  'Daniel',
  'Reilly',
  'Charlotte',
  'NC',
  '34',
  'M',
  '14',
  '10:39:48',
  '68.94',
  '',
  '',
  '',
  ''],
 ['results',
  '17',
  'Julie Rosa',
  'Kenney',
  'Chuluota',
  'FL',
  '49',
  'F',
  '3',
  '10:41:57',
  '86.88',
  '',
  '',
  '',
  ''],
 ['results',
  '18',
  'Jason',
  'Harasimowicz',
  'Batavia',
  'NY',
  '32',
  'M',
  '15',
  '10:46:22',
  '71.75',
  '',
  '',
  '',
  ''],
 ['results',
  '19',
  'Johnny',
  'Daniels',
  'Oak Ridge',
  'TN',
  '40',
  'M',
  '16',
  '10:47:44',
  '78.59',
  '',
  '',
  '',
  ''],
 ['results',
  '20',
  'Troy',
  'Tibbetts',
  'Fort Moore',
  'GA',
  '29',
  'M',
  '17',
  '10:59:23',
  '66.96',
  '',
  '',
  '',
  ''],
 ['results',
  '21',
  'Andrew',
  'Graham',
  'Lake Worth',
  'FL',
  '36',
  'M',
  '18',
  '11:12:10',
  '64.54',
  '',
  '',
  '',
  ''],
 ['results',
  '22',
  'Jessica',
  'Hardy',
  'El Segundo',
  'CA',
  '41',
  'F',
  '4',
  '11:13:28',
  '78.07',
  '',
  '',
  '',
  ''],
 ['results',
  '23',
  'Brandon',
  'Holmes',
  'Valrico',
  'FL',
  '40',
  'M',
  '19',
  '11:16:22',
  '67.17',
  '',
  '',
  '',
  ''],
 ['results',
  '24',
  'Jeremy',
  'Boz',
  'Las Vegas',
  'NV',
  '41',
  'M',
  '20',
  '11:19:53',
  '58.42',
  '',
  '',
  '',
  ''],
 ['results',
  '25',
  'Darren',
  'Ramdhan',
  'Las Vegas',
  'NV',
  '46',
  'M',
  '21',
  '11:20:04',
  '76.1',
  '',
  '',
  '',
  ''],
 ['results',
  '26',
  'Matthew',
  'Masson',
  'Merritt Island',
  'FL',
  '36',
  'M',
  '22',
  '11:22:27',
  '73.71',
  '',
  '',
  '',
  ''],
 ['results',
  '27',
  'Charlie',
  'Alesi',
  'Kennesaw',
  'GA',
  '40',
  'M',
  '23',
  '11:44:57',
  '67.56',
  '',
  '',
  '',
  ''],
 ['results',
  '28',
  'Lizzy',
  'Fowler',
  'Stuart',
  'FL',
  '27',
  'F',
  '5',
  '11:46:34',
  '54.02',
  '',
  '',
  '',
  ''],
 ['results',
  '29',
  'Clay',
  'Pell',
  'Jacksonville Beach',
  'FL',
  '45',
  'M',
  '24',
  '11:49:03',
  '70.94',
  '',
  '',
  '',
  ''],
 ['results',
  '30',
  'Arron',
  'Ocheltree',
  'Oviedo',
  'FL',
  '38',
  'M',
  '25',
  '11:52:03',
  '76.77',
  '',
  '',
  '',
  ''],
 ['results',
  '31',
  'Eric',
  "O'Neil",
  'Chicago',
  'IL',
  '34',
  'M',
  '26',
  '11:55:00',
  '76.7',
  '',
  '',
  '',
  ''],
 ['results',
  '32',
  'Mike',
  'Murchison',
  'Toronto',
  'ON',
  '35',
  'M',
  '27',
  '11:55:03',
  '62.33',
  '',
  '',
  '',
  ''],
 ['results',
  '33',
  'Cody',
  'Dolloff',
  'Columbus',
  'GA',
  '27',
  'M',
  '28',
  '11:55:07',
  '73.81',
  '',
  '',
  '',
  ''],
 ['results',
  '34',
  'Leanna',
  'Hobson',
  'BALLARD',
  'WV',
  '31',
  'F',
  '6',
  '11:59:06',
  '74.19',
  '',
  '',
  '',
  ''],
 ['results',
  '35',
  'Rigoberto',
  'Barragan',
  'Milton',
  'FL',
  '46',
  'M',
  '29',
  '11:59:59',
  '66.29',
  '',
  '',
  '',
  ''],
 ['results',
  '36',
  'Nick',
  'Wishart',
  'PAWTUCKET',
  'RI',
  '54',
  'M',
  '30',
  '12:00:02',
  '64.03',
  '',
  '',
  '',
  ''],
 ['results',
  '37',
  'Bill',
  'Sanborn',
  'Milton',
  'FL',
  '48',
  'M',
  '31',
  '12:00:08',
  '71.67',
  '',
  '',
  '',
  ''],
 ['results',
  '38',
  'Tara',
  'Allen',
  'Mount Desert',
  'ME',
  '32',
  'F',
  '7',
  '12:11:27',
  '78.34',
  '',
  '',
  '',
  ''],
 ['results',
  '39',
  'Chad',
  'Frederick',
  'Hilton Head',
  'SC',
  '48',
  'M',
  '32',
  '12:11:30',
  '63.51',
  '',
  '',
  '',
  ''],
 ['results',
  '40',
  'Anna',
  'Foard',
  'Woodstock',
  'GA',
  '45',
  'F',
  '8',
  '12:18:02',
  '72.89',
  '',
  '',
  '',
  ''],
 ['results',
  '41',
  'Ross',
  'Putman',
  'Dekalb Jct',
  'NY',
  '42',
  'M',
  '33',
  '12:18:19',
  '77.24',
  '',
  '',
  '',
  ''],
 ['results',
  '42',
  'Jose',
  'Marin',
  'Florida',
  'FL',
  '39',
  'M',
  '34',
  '12:27:56',
  '64.59',
  '',
  '',
  '',
  ''],
 ['results',
  '43',
  'Alister',
  'Wilson',
  'tampa',
  'FL',
  '31',
  'M',
  '35',
  '12:27:58',
  '60.93',
  '',
  '',
  '',
  ''],
 ['results',
  '44',
  'Jeffrey',
  'Torres',
  'Orlando',
  'FL',
  '40',
  'M',
  '36',
  '12:31:32',
  '61.49',
  '',
  '',
  '',
  ''],
 ['results',
  '45',
  'Chris',
  'Mason',
  'Henrico',
  'VA',
  '45',
  'M',
  '37',
  '12:39:13',
  '61.46',
  '',
  '',
  '',
  ''],
 ['results',
  '46',
  'Brent',
  'Bowman',
  'Buford',
  'GA',
  '36',
  'M',
  '38',
  '12:39:39',
  '63.41',
  '',
  '',
  '',
  ''],
 ['results',
  '47',
  'Drew',
  'Burkhalter',
  'Avondale Estates',
  'GA',
  '37',
  'M',
  '39',
  '12:47:10',
  '63.12',
  '',
  '',
  '',
  ''],
 ['results',
  '48',
  'Shauna',
  'Banning',
  'Lithia',
  'FL',
  '46',
  'F',
  '9',
  '12:54:28',
  '82.33',
  '',
  '',
  '',
  ''],
 ['results',
  '49',
  'George',
  'Blackwood',
  "St. John's",
  'NL',
  '61',
  'M',
  '40',
  '12:54:30',
  '58.77',
  '',
  '',
  '',
  ''],
 ['results',
  '50',
  'Ben',
  'Henderson',
  'Valrico',
  'FL',
  '43',
  'M',
  '41',
  '12:55:55',
  '64.96',
  '',
  '',
  '',
  ''],
 ['results',
  '51',
  'Dominick',
  'Gebauer',
  'Ormond Beach',
  'FL',
  '22',
  'M',
  '42',
  '12:56:10',
  '69.48',
  '',
  '',
  '',
  ''],
 ['results',
  '52',
  'Rebecca',
  'Sharp',
  'Knoxville',
  'TN',
  '35',
  'F',
  '10',
  '12:56:46',
  '77.3',
  '',
  '',
  '',
  ''],
 ['results',
  '53',
  'Tara',
  'Butler',
  'Erie',
  'CO',
  '30',
  'F',
  '11',
  '12:57:58',
  '77.73',
  '',
  '',
  '',
  ''],
 ['results',
  '54',
  'Hunter',
  'Musgrove',
  'ASHEVILLE',
  'NC',
  '29',
  'M',
  '43',
  '12:58:35',
  '58.95',
  '',
  '',
  '',
  ''],
 ['results',
  '55',
  'Jessika',
  'Poppe',
  'Asheville',
  'NC',
  '33',
  'F',
  '12',
  '12:58:41',
  '69.19',
  '',
  '',
  '',
  ''],
 ['results',
  '56',
  'Robert',
  'Crow',
  'Crawfordville',
  'FL',
  '35',
  'M',
  '44',
  '12:59:47',
  '63.06',
  '',
  '',
  '',
  ''],
 ['results',
  '57',
  'Todd',
  'Barnett',
  'Longwood',
  'FL',
  '43',
  'M',
  '45',
  '12:59:53',
  '61.54',
  '',
  '',
  '',
  ''],
 ['results',
  '58',
  'Andrew',
  'Fortenberry',
  'Jacksonville',
  'FL',
  '42',
  'M',
  '46',
  '13:02:29',
  '64.38',
  '',
  '',
  '',
  ''],
 ['results',
  '59',
  'Kyle',
  'Schmidt',
  'Oviedo',
  'FL',
  '34',
  'M',
  '47',
  '13:03:21',
  '69.76',
  '',
  '',
  '',
  ''],
 ['results',
  '60',
  'Michelle',
  'Goldberg',
  'Meadowbrook',
  'PA',
  '49',
  'F',
  '13',
  '13:04:23',
  '81.27',
  '',
  '',
  '',
  ''],
 ['results',
  '61',
  'John William',
  'Deaton',
  'Chilhowie',
  'VA',
  '29',
  'M',
  '48',
  '13:05:53',
  '61.73',
  '',
  '',
  '',
  ''],
 ['results',
  '62',
  'Jason',
  'Kring',
  'Oviedo',
  'FL',
  '52',
  'M',
  '49',
  '13:07:12',
  '72.97',
  '',
  '',
  '',
  ''],
 ['results',
  '63',
  'Alex',
  'Moore',
  'Palm Coast',
  'FL',
  '33',
  'M',
  '50',
  '13:08:09',
  '66.29',
  '',
  '',
  '',
  ''],
 ['results',
  '64',
  'Boris',
  'Karetny',
  'Palm Coast',
  'FL',
  '38',
  'M',
  '51',
  '13:09:55',
  '59.09',
  '',
  '',
  '',
  ''],
 ['results',
  '65',
  'Casey',
  'Burkhalter',
  'Avondale estates',
  'GA',
  '32',
  'F',
  '14',
  '13:19:29',
  '74.12',
  '',
  '',
  '',
  ''],
 ['results',
  '66',
  'Jason',
  'Finch',
  'Homer',
  'GA',
  '48',
  'M',
  '52',
  '13:20:05',
  '58.66',
  '',
  '',
  '',
  ''],
 ['results',
  '67',
  'Gregory',
  'Ryan',
  'Orlando',
  'FL',
  '35',
  'M',
  '53',
  '13:20:59',
  '65.73',
  '',
  '',
  '',
  ''],
 ['results',
  '68',
  'Samuel',
  'Dunaway',
  'DeFuniak Springs',
  'FL',
  '36',
  'M',
  '54',
  '13:21:07',
  '62.2',
  '',
  '',
  '',
  ''],
 ['results',
  '69',
  'Brian',
  'Miller',
  'Palm Bay',
  'FL',
  '41',
  'M',
  '55',
  '13:21:55',
  '68.58',
  '',
  '',
  '',
  ''],
 ['results',
  '70',
  'Stephanie',
  'Felber',
  'Elgin',
  'IL',
  '60',
  'F',
  '15',
  '13:26:11',
  '66.08',
  '',
  '',
  '',
  ''],
 ['results',
  '71',
  'Tony',
  'Hofmann',
  'Overland Park',
  'KS',
  '57',
  'M',
  '56',
  '13:26:20',
  '65.92',
  '',
  '',
  '',
  ''],
 ['results',
  '72',
  'Steven',
  'Stricker',
  'Lady Lake',
  'FL',
  '60',
  'M',
  '57',
  '13:26:27',
  '67.01',
  '',
  '',
  '',
  ''],
 ['results',
  '73',
  'Darren',
  'Worley',
  'Waterloo',
  'IL',
  '46',
  'M',
  '58',
  '13:26:45',
  '64.92',
  '',
  '',
  '',
  ''],
 ['results',
  '74',
  'Joshua',
  'Sanders',
  'Fort Benning',
  'GA',
  '31',
  'M',
  '59',
  '13:27:37',
  '61.51',
  '',
  '',
  '',
  ''],
 ['results',
  '75',
  'Matthew',
  'McNeece',
  'Columbus',
  'GA',
  '37',
  'M',
  '60',
  '13:27:46',
  '66.91',
  '',
  '',
  '',
  ''],
 ['results',
  '76',
  'Matt',
  'Steiner',
  'Greece',
  'NY',
  '47',
  'M',
  '61',
  '13:28:30',
  '67.57',
  '',
  '',
  '',
  ''],
 ['results',
  '77',
  'Brett',
  'Chapman',
  'Weston',
  'FL',
  '38',
  'M',
  '62',
  '13:45:18',
  '68.09',
  '',
  '',
  '',
  ''],
 ['results',
  '78',
  'Zach',
  'Clayton',
  'Weston',
  'FL',
  '38',
  'M',
  '63',
  '13:47:19',
  '78.21',
  '',
  '',
  '',
  ''],
 ['results',
  '79',
  'Kyle',
  'Rose',
  'Estero',
  'FL',
  '24',
  'M',
  '64',
  '13:48:48',
  '57.92',
  '',
  '',
  '',
  ''],
 ['results',
  '80',
  'Becky',
  'Madsen',
  'Las Vegas',
  'NV',
  '39',
  'F',
  '16',
  '13:49:04',
  '70.77',
  '',
  '',
  '',
  ''],
 ['results',
  '81',
  'Kirsten',
  'York',
  'Las Vegas',
  'NV',
  '34',
  'F',
  '17',
  '13:49:07',
  '78.85',
  '',
  '',
  '',
  ''],
 ['results',
  '82',
  'Bailey',
  'Freer',
  'Winter Garden',
  'FL',
  '31',
  'F',
  '18',
  '13:49:24',
  '75.27',
  '',
  '',
  '',
  ''],
 ['results',
  '83',
  'Matthew',
  'Holappa',
  'Knoxville',
  'TN',
  '56',
  'M',
  '65',
  '13:54:55',
  '74.47',
  '',
  '',
  '',
  ''],
 ['results',
  '84',
  'Gerhard',
  'Mutz',
  'Atlanta',
  'GA',
  '63',
  'M',
  '66',
  '13:55:14',
  '61.98',
  '',
  '',
  '',
  ''],
 ['results',
  '85',
  'Rusty',
  'Smith',
  'Woodstock',
  'GA',
  '56',
  'M',
  '67',
  '13:56:55',
  '60.3',
  '',
  '',
  '',
  ''],
 ['results',
  '86',
  'Jason',
  'Kumlien',
  'Tampa',
  'FL',
  '53',
  'M',
  '68',
  '14:01:02',
  '59.39',
  '',
  '',
  '',
  ''],
 ['results',
  '87',
  'Abraham',
  'Mancino',
  'Bethel',
  'OH',
  '26',
  'M',
  '69',
  '14:01:16',
  '66.25',
  '',
  '',
  '',
  ''],
 ['results',
  '88',
  'William',
  'Dozier',
  'Hilliard',
  'FL',
  '51',
  'M',
  '70',
  '14:02:44',
  '59.72',
  '',
  '',
  '',
  ''],
 ['results',
  '89',
  'Mark',
  'Ogrady',
  'Lakeland',
  'FL',
  '45',
  'M',
  '71',
  '14:11:54',
  '60.77',
  '',
  '',
  '',
  ''],
 ['results',
  '90',
  'Julian',
  'Davis',
  'Boynton Beach',
  'FL',
  '35',
  'M',
  '72',
  '14:13:42',
  '66.18',
  '',
  '',
  '',
  ''],
 ['results',
  '91',
  'Rob',
  'Canfield',
  'Bridgeport',
  'PA',
  '34',
  'M',
  '73',
  '14:17:04',
  '46.56',
  '',
  '',
  '',
  ''],
 ['results',
  '92',
  'Ryan',
  'Nolan',
  'Orlando',
  'FL',
  '26',
  'M',
  '74',
  '14:26:47',
  '67.08',
  '',
  '',
  '',
  ''],
 ['results',
  '93',
  'Brittany',
  'Sobering',
  'Winter Springs',
  'FL',
  '41',
  'F',
  '19',
  '14:29:08',
  '65.29',
  '',
  '',
  '',
  ''],
 ['results',
  '94',
  'Gordon',
  'Bloom',
  'St Cloud',
  'FL',
  '53',
  'M',
  '75',
  '14:29:23',
  '62.77',
  '',
  '',
  '',
  ''],
 ['results',
  '95',
  'Jen',
  'Maki',
  'Casselberry',
  'FL',
  '41',
  'F',
  '20',
  '14:29:30',
  '64.56',
  '',
  '',
  '',
  ''],
 ['results',
  '96',
  'Nick',
  'Collins',
  'Plant City',
  'FL',
  '42',
  'M',
  '76',
  '14:29:54',
  '57.83',
  '',
  '',
  '',
  ''],
 ['results',
  '97',
  'Ryan',
  'Bontrager',
  'Plant City',
  'FL',
  '47',
  'M',
  '77',
  '14:29:56',
  '57.82',
  '',
  '',
  '',
  ''],
 ['results',
  '98',
  'Brian',
  'Delong',
  'Pace',
  'FL',
  '61',
  'M',
  '78',
  '14:35:35',
  '56.47',
  '',
  '',
  '',
  ''],
 ['results',
  '99',
  'Lena',
  'Cowell',
  'Omaha',
  'NE',
  '31',
  'F',
  '21',
  '14:40:05',
  '69.81',
  '',
  '',
  '',
  ''],
 ['results',
  '100',
  'Katherine',
  'Clemente',
  'Orlando',
  'FL',
  '39',
  'F',
  '22',
  '14:40:09',
  '59.63',
  '',
  '',
  '',
  ''],
 ['results',
  '101',
  'Matthew',
  'Damico',
  'VENTNOR CITY',
  'NJ',
  '36',
  'M',
  '79',
  '15:00:17',
  '55.87',
  '',
  '',
  '',
  ''],
 ['results',
  '102',
  'Andrew',
  'Rollins',
  'Highland Hgts',
  'OH',
  '55',
  'M',
  '80',
  '15:00:28',
  '58.02',
  '',
  '',
  '',
  ''],
 ['results',
  '103',
  'Paul',
  'Rollins',
  'Oviedo',
  'FL',
  '53',
  'M',
  '81',
  '15:00:30',
  '59.29',
  '',
  '',
  '',
  ''],
 ['results',
  '104',
  'Jennifer',
  'Isley',
  'DeBary',
  'FL',
  '51',
  'F',
  '23',
  '15:01:15',
  '60.94',
  '',
  '',
  '',
  ''],
 ['results',
  '105',
  'David',
  'Buning',
  'Winter Park',
  'FL',
  '49',
  'M',
  '82',
  '15:03:26',
  '50.21',
  '',
  '',
  '',
  ''],
 ['results',
  '106',
  'Kelly',
  'Stoner Baker',
  'Woodstock',
  'GA',
  '53',
  'F',
  '24',
  '15:09:19',
  '68.46',
  '',
  '',
  '',
  ''],
 ['results',
  '107',
  'Chad',
  'Ward',
  'Woodstock',
  'GA',
  '39',
  'M',
  '83',
  '15:10:30',
  '61.92',
  '',
  '',
  '',
  ''],
 ['results',
  '108',
  'Dennis',
  'Stadelman',
  'Cicero',
  'NY',
  '62',
  'M',
  '84',
  '15:20:26',
  '55.87',
  '',
  '',
  '',
  ''],
 ['results',
  '109',
  'Jonathan',
  'Burnham',
  'Fort Moore',
  'GA',
  '24',
  'M',
  '85',
  '15:40:49',
  '53.47',
  '',
  '',
  '',
  '']]

In [3]:
# Create a DataFrame from the list of rows (all_rows)
df = pd.DataFrame(all_rows)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,results,1,Daniel,Wilson,Tulsa,OK,35,M,1,8:23:01,68.01,,,,
1,results,2,Eric,Davis,Greenwood,IN,38,M,2,8:57:54,92.17,,,,
2,results,3,Stewart,Edwards,New Smyrna Beach,FL,43,M,3,9:24:35,89.34,,,,
3,results,4,Ron,Hammett,Montverde,FL,53,M,4,9:24:36,82.28,,,,
4,results,5,Seth,Cain,Geneva,FL,44,M,5,9:42:17,76.17,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,results,105,David,Buning,Winter Park,FL,49,M,82,15:03:26,50.21,,,,
105,results,106,Kelly,Stoner Baker,Woodstock,GA,53,F,24,15:09:19,68.46,,,,
106,results,107,Chad,Ward,Woodstock,GA,39,M,83,15:10:30,61.92,,,,
107,results,108,Dennis,Stadelman,Cicero,NY,62,M,84,15:20:26,55.87,,,,
108,results,109,Jonathan,Burnham,Fort Moore,GA,24,M,85,15:40:49,53.47,,,,

In [4]:
# Slice df
df = df.iloc[:, 1:11]
df

,1,2,3,4,5,6,7,8,9,10
0,1,Daniel,Wilson,Tulsa,OK,35,M,1,8:23:01,68.01
1,2,Eric,Davis,Greenwood,IN,38,M,2,8:57:54,92.17
2,3,Stewart,Edwards,New Smyrna Beach,FL,43,M,3,9:24:35,89.34
3,4,Ron,Hammett,Montverde,FL,53,M,4,9:24:36,82.28
4,5,Seth,Cain,Geneva,FL,44,M,5,9:42:17,76.17
...,...,...,...,...,...,...,...,...,...,...
104,105,David,Buning,Winter Park,FL,49,M,82,15:03:26,50.21
105,106,Kelly,Stoner Baker,Woodstock,GA,53,F,24,15:09:19,68.46
106,107,Chad,Ward,Woodstock,GA,39,M,83,15:10:30,61.92
107,108,Dennis,Stadelman,Cicero,NY,62,M,84,15:20:26,55.87
108,109,Jonathan,Burnham,Fort Moore,GA,24,M,85,15:40:49,53.47

### Web Scraping: Extracting Table Headers

In [5]:
# Initialize the WebDriver (SeleniumManager will handle the driver for you)
driver = webdriver.Chrome()

# Navigate to the webpage
url = 'https://ultrasignup.com/results_event.aspx?did=102259'
driver.get(url)

# Allow time for the JavaScript to load
driver.implicitly_wait(10)

# Find the table with class 'ui-jqgrid-htable'
table_h = driver.find_element(By.CLASS_NAME, 'ui-jqgrid-htable')

# Extract the header row (th tags) from the table
headers = [th.text for th in table_h.find_elements(By.TAG_NAME, 'th')]

# Close the browser window
driver.quit()

# Print result
headers

[' ',
 ' Place',
 ' First',
 ' Last',
 ' City',
 ' ',
 ' Age',
 ' Division',
 ' DP',
 ' Time',
 ' Rank',
 '',
 '',
 '',
 '']

In [6]:
# Slice headers
headers = headers[1:11]
headers

[' Place',
 ' First',
 ' Last',
 ' City',
 ' ',
 ' Age',
 ' Division',
 ' DP',
 ' Time',
 ' Rank']

In [7]:
# Replace blank value
headers = ['State' if col == ' ' else col for col in headers]
headers

[' Place',
 ' First',
 ' Last',
 ' City',
 'State',
 ' Age',
 ' Division',
 ' DP',
 ' Time',
 ' Rank']

In [8]:
# Assign the updated 'headers' list to the df columns
df.columns = headers
df.columns

Index([' Place', ' First', ' Last', ' City', 'State', ' Age', ' Division',
       ' DP', ' Time', ' Rank'],
      dtype='object')

In [9]:
# Remove whitespaces from columns
df.columns = df.columns.str.strip()
df.columns

Index(['Place', 'First', 'Last', 'City', 'State', 'Age', 'Division', 'DP',
       'Time', 'Rank'],
      dtype='object')

### Extracted Table

In [10]:
df

,Place,First,Last,City,State,Age,Division,DP,Time,Rank
0,1,Daniel,Wilson,Tulsa,OK,35,M,1,8:23:01,68.01
1,2,Eric,Davis,Greenwood,IN,38,M,2,8:57:54,92.17
2,3,Stewart,Edwards,New Smyrna Beach,FL,43,M,3,9:24:35,89.34
3,4,Ron,Hammett,Montverde,FL,53,M,4,9:24:36,82.28
4,5,Seth,Cain,Geneva,FL,44,M,5,9:42:17,76.17
...,...,...,...,...,...,...,...,...,...,...
104,105,David,Buning,Winter Park,FL,49,M,82,15:03:26,50.21
105,106,Kelly,Stoner Baker,Woodstock,GA,53,F,24,15:09:19,68.46
106,107,Chad,Ward,Woodstock,GA,39,M,83,15:10:30,61.92
107,108,Dennis,Stadelman,Cicero,NY,62,M,84,15:20:26,55.87
108,109,Jonathan,Burnham,Fort Moore,GA,24,M,85,15:40:49,53.47

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Place     109 non-null    object
 1   First     109 non-null    object
 2   Last      109 non-null    object
 3   City      109 non-null    object
 4   State     109 non-null    object
 5   Age       109 non-null    object
 6   Division  109 non-null    object
 7   DP        109 non-null    object
 8   Time      109 non-null    object
 9   Rank      109 non-null    object
dtypes: object(10)
memory usage: 8.6+ KB

In [12]:
df.describe()

,Place,First,Last,City,State,Age,Division,DP,Time,Rank
count,109,109,109,109,109,109,109,109,109,109
unique,109,88,104,88,23,37,2,85,109,107
top,1,Matthew,Wilson,Woodstock,FL,35,M,1,8:23:01,66.29
freq,1,4,2,4,52,6,85,2,1,2

### Save table

In [13]:
df.to_csv(r'C:\Users\sahil\Documents\LOOKER\Race_50.csv', index=False)